.navbar {
    padding: 16px;
    margin: 0 auto;
    height: 60px;
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 3;
}

ul {
    display: flex;
    list-style: none;
    gap: 80px;
    font-size: x-large;
    font-weight: 500;
}

li {
    cursor: pointer;
    transition-duration: 0.5s;
}

li:hover {
    color: yellow;
    transform: scale(1.1);
}