.projectItem {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.projectItem video {
    width: 100%;
    cursor: pointer;
    transition-duration: 0.5s;
}

.projectItem video:hover {
    transform: scale(1.1);
}